{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        {% for category in categories %}
            <li><a href="{{ url('category',{'category':category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    {% if app.user %}
        <p>This paragh is hidden!!!!</p>
    {% endif %}
    This is the homepage
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
    <br /><a href=" {{ url('test',{'firstName':'Alin','lastName':'Iancu'}) }}">Say hello to Alin Iancu</a>
</div>
{% endblock %}
